<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/boilerplates/gameplay.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Rock, Paper, Scissors</title>
</head>
<body>
    <header>
        <section class="header-wrapper">
            <h1>Rock <br> paper <br> scissors</h1>
            <div class="score-wrapper">
              <p>Score</p>
              <p id="result"><%= score %></p>
            </div>
          </section>
    </header>
    <main>
        <section class="playing-buttons-wrapper">
            <div>
            <button id="rock"><img src="/images/icon-rock.svg" alt="rock icon"></button>
            <p>you picked</p>
        </div>
        <div>
            <button id="<%= computerChoice %>"><img src="/images/icon-<%= computerChoice %>.svg" alt="<%= computerChoice %>"></button>
            <p>the house picked</p>
        </div>
        </section>
        <section class="game-result">
            <% if(score === 3){ %>
                <h2 id="roundResult">End of game: <br>You win</h2>
            <% } else if(score === -3){ %>
                <h2 id="roundResult">Game over: <br>Computer wins</h2>
            <% }else{ %> 
                <h2 id="roundResult"><%= roundResult %></h2> 
                <% } %>  %> 
            <a href="/homepage">
                <button id="game-reset">Play again</button>
            </a>
        </section>
    </main>
    <footer>
        <a href="/homepage/rules">
            <button id="rules">Rules</button>
          </a>
    </footer>
</body>
</html>